<section>
    <div class="container" ng-if="!authentication.user">      
        <h1>Cloud e-Genome Project 2015</h1>
        <h2>Please sign in</h2>

    </div>
    
    <div class="container" ng-if="authentication.user">

        <!-- upper section -->
        <div class="row">
            <div class="col-sm-2">
                <!-- sidebar left -->
                <h3><i class="glyphicon glyphicon-briefcase"></i> Toolbox</h3>
                <hr>
                <section ng-include="'modules/core/views/toolbox.client.view.html'"></section>
            </div>

            <div class="col-sm-6">
                <!-- Dashboard -->	
                <h3><i class="glyphicon glyphicon-dashboard"></i> Dashboard</h3>  
                <hr>

                <div>
                    <div class="panel">
                        <section ng-include="'modules/core/views/panel.client.view.html'"></section>
                    </div>
                </div>
            </div>     <!--options-right-->
            <div class="col-md-4">
                <h3><i class="glyphicon glyphicon-info-sign"></i> Notifications</h3>
                <hr>
                <section ng-include="'modules/core/views/options.client.view.html'"></section>
            </div><!--/col-span-6-->
        </div>
        <!-- lower section -->
        <div class="row">
            <section ng-include="'modules/core/views/lower-section.client.view.html'"></section>
        </div>

    <footer class="text-center">Newcastle University, Cloud e-Genome Project 2015</footer>
    </div>
    
</section>