<section data-ng-controller="LowersectioncasesController">
    <div class="col-md-12">
        <hr>
        <a href="#"><strong><i class="glyphicon glyphicon-list-alt"></i> Reports</strong></a>  
        <hr>    
    </div>
    <div class="col-md-12">

        <div class=" col-md-9">

            This is the main section of data.


            <hr>              
        </div>

        <div class="col-md-3">
            <div class="panel">
                <div class="panel-default">
                    <div class="panel-heading"><h4>Title</h4></div>
                    <div class="panel-body">
                        Some text can go here...
                    </div>
                </div>
            </div><!--/col-->

        </div>

        <hr>


    </div>
</section>