<section>
    <ul class="nav nav-stacked">
        <li><a href="" ng-click="viewCase(false);"><i class="glyphicon glyphicon-folder-close"></i> My Cases</a></li>
        <li> <a href="" ng-click="restInv(); omimSelected(false);selectPanel(0);"><i class="glyphicon glyphicon-folder-open"></i> Investigations</a></li>
<!--        <li> <a href="" ng-click="clearVariant();omimSelected(false);selectPanel(6);"><i class="glyphicon glyphicon-wrench"></i> Edit</a></li>-->
        <li> <a href=""  ng-click="clearVariant();omimSelected(false);selectPanel(4);"><i class="glyphicon glyphicon-list"></i> View Results</a></li>
        <li> <a href="" ng-click="getOmim(variant.IA_OMIMLink);omimSelected(true);selectPanel(5);"><i class="glyphicon glyphicon-star"></i> Variant Details</a></li>
    </ul>

</section>