.var {
    border-radius: 5px;
    background-color: #F8F8F8;
    margin-bottom: 5px;
    padding: 10px;
}

.var-results {
    border:black solid 1px;
    overflow-x: scroll;
    height:200px;
}

.var-side{
    
};
